// Specific CSS for your home-page
.search-snacks {
  display: flex;
  justify-content: center;
  padding: 2px;
  width: 100vw;
}

.searchform {
  padding: 2px;
  width: inherit;
}

@media (min-width: 576px) {
.form-inline .form-control {
  width: 100%;
}
}
.searchform .form-group {
  width: 100%;
}
a:hover {
  text-decoration: none;
}

.form-control-label {

  color: $purple;
}
