<ul class="nav nav-pills" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">ADDED <br>
      <i class="fas fa-2x fa-cookie-bite"></i> </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">PICS <br>
      <i class="far fa-2x fa-images"></i>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">RATED <br>
      <i class="far fa-2x fa-star"></i></a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <!-- <div class="row no-gutters"> -->
      <% if current_user.snacks.empty? %>
        <p>Add your first snack!</p>
      <% else %>
        <%= render "snacks/index-card", snacks: current_user.snacks %>
      <% end %>
<!--     </div> -->
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <!-- <div class="row no-gutters"> -->
      <% if current_user.snack_images.empty? %>
        <p>No images added yet!</p>
      <% else %>
        <%= render "snack_images/index", snack_images: current_user.snack_images %>
      <% end %>
<!--     </div> -->
  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
<!--     <div class="row no-gutters"> -->
      <% if current_user.rated_snacks.empty? %>
        <p>Rate Your First Snack!</p>
      <% else %>
        <%= render "snacks/index-card", snacks: current_user.rated_snacks, user_rating: true %>
      <% end %>
<!--     </div> -->
  </div>
</div>
