<div class="category-card">
  <p>Category card</p>
</div>


<div class="feature-cards">
  <%= image_tag 'images2.jpg'%>
</div>



<div class="snack-index-card">
  <div class="supply-img">
    <%= image_tag 'images2.jpg' %>
  </div>
    <h1>Snack Index </h1>
    <br>
    <p>Stars</p>
    <div class="bobby">
      <%= image_tag("bobby", :alt=> "bananadeer") %>
      <small>username</small>
    </div>
  </div>
</div>

<div class="tag">
  <p>tag</p>
</div>



<div class="favorite-card">
  <%= image_tag("cake", :alt=> "bananadeer") %>
  <div class="card-product-infos">
    <h2>Favorite Snack</h2>
    <p>description</p>
    <br>
    <p>tags</p>
  </div>
</div>





