<!-- <h1>Create New Trail</h1> -->
<%= simple_form_for trail do |f| %>
  <%= f.input :name %>
  <%= f.input :location %>
  <%#= f.input :snacks, collection: @snacks, input_html: { multiple: true } %>
  <%= f.button :submit, class: "btn btn-trail-new" %>
<% end %>
