<!-- <h1>Create New Trail</h1> -->
<%= simple_form_for trail do |f| %>
  <%= f.input :name %>
  <%= f.input :location %>
  <div class="modal-footer justify-content-center">
    <%= f.button :submit, class: "btn btn-teal" %>
  </div>
<% end %>
