  <%= simple_form_for([@snack, @snack_rating]) do |f| %>
    <div class="modal-footer actions">
      <%= f.input :stars, collection: (1..5).to_a, label: false, class: 'btn btn-mochi' %>
      <%= f.submit "Rate it!" %>
    </div>
  <% end %>
