.btn {
  padding: 8px 15px;
  text-align: center;
}

.btn-mochi {
  border-radius: 10px;
  background-color: $light-pink;
  color: $purple;
    width: 40vw;

}

.btn-teal {
  border-radius: 10px;
  background-color: $teal;
  color: $purple;
    width: 40vw;

}

.btn-search {
  border-radius: 10px;
  background-color: $light-pink;
  color: $purple;
}
