.btn {
  padding: 8px 15px;
  text-align: center;
}

.btn:active {
  transform: translateY(4px);
}

.btn-mochi {
  border-radius: 10px;
  background-color: $light-pink;
  color: $purple;
  width: 38vw;
}

.btn-mochi:active {
  background-color: $light-pink;
}

.btn-teal {
  border-radius: 10px;
  background-color: $teal;
  color: $purple;
  width: 38vw;
}

.btn-search {
  border-radius: 10px;
  background-color: $light-pink;
  color: $purple;
}

.btn-ratestar {
  border-radius: 10px;
  background-color: $light-pink;

}


.btn-teal:active {
  background-color: $teal;
  transform: translateY(4px);
}

.btn-rate{
  border-radius: 10px;
  background-color: $light-pink;
  width: 20vw;
  color: $purple;
}

.btn-see-more {
  border-radius: 10px;
  background-color: $teal;
  color: $purple;
  width: 65vw;
  height: auto;
  padding: 15px;
  margin: 20px;
}

.btn-trail-edit {
  border-radius: 10px;
  background-color: $teal;
  color: $purple;
  width: 20vw;
  height: auto;
  margin: 3px;
}

.fa-edit {
  margin-top: 0px;
}
