.favorite-card {
  height: 25vh;
  width: 100%;
  display: flex;
  position: relative;
  margin-bottom:10px;
  background-color: white;
}

.favorite-card img {
  height: 100%;
  width: 35%;
  object-fit: cover;
}

img.fixed-heart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  font-weight: lighter;

}

.favorite-card h2 {
  font-size: 25px;
  font-weight: bold;
  padding-top:5px;
  padding-left: 10px;
  width: 80%;
}

p.favorite {
  font-size: 18px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  padding-left: 10px;
}


// .favorite-card-infos {
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
// }



.play-heartAnimation {
  animation: colorChangeAndCrazy 1s;
  //animation-iteration-count: 1;
}

@keyframes colorChangeAndCrazy {
  0% {
    transform: scale(1);
    color:black;
  }

  69% {
    transform:scale(1.6);
    color:pink;
  }

  70% {
    transform: rotate(20deg)  scale(1.6);
    color:pink;
  }

  80% {
    transform: rotate(-20deg)  scale(1.6);
    color:pink;
  }

  90% {
    transform: rotate(20deg)  scale(1.6 );
    color:pink;
  }

  100% {
    transform: scale(1);
    color:pink;
  }

}




