// .feature-cards {
//   width: 90vw;
//   height: 15vh;
// }


// .feature-cards img {
//   height: 100%;
//   width: 50%;
//   border-radius:5px;
//   display:flex;
//   justify-content:space-around;
// }

.feature-card {
  height: 150px;
  display: flex;
  font-size: 20px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  width: inherit;
  color: $purple;
  font-family: $head;
  font-size: 20px;
  box-shadow: inset 0 0 0 1000px hsla(0, 100%, 85%, 0.3);


  // background: radial-gradient(circle, #f9d6d9, #f0d2c3, #dbd1b5, #bed1b5, #a1cec1)

  }

