// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "button";
@import "navbar";
@import "category-card";
@import "favorite-card";
@import "feature-card";
@import "category-show-card";
@import "footer";
@import "new-trail-button";
@import "snack-index-card";
@import "submit-button";
@import "tag";
@import "trail-card";
@import "snack-show-card";
@import "map-container";
@import "map";
@import "my-bio";
@import "tabs";
@import "trail-toggle-edit-button";
@import "carousel";

h2 {
  font-family: $headers-font;
  color: $purple;
  font-size: 50px;
  margin-left:5px;
}

p {
  font-family: $body-font;
  color: $purple;
  font-size: 16;
}

.container {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

a {
  color: $teal;
}

.center {
  display: flex;
  justify-content: center;

}

.maintitle {
  width: 100vw;
  text-align: center;
  }

.dropdown-item {
  font-family: $body-font;
  color: $purple;
  font-size: 16;
}
