  .header-container {
    width: 100vw;
    height: 30vh;
    background-color: $light-pink;

  }

  @media only screen and (min-width: 600px) {
    .header-container {
      height: 50vh;
    }
  }

  img.flex-left {
    height: 100%;
  }

  img.flex-image {
    object-fit: cover;
  }

  img.flex-left {
    width: 50%;
  }

  .flex-right > img {
    width: 50%;
    height: 50%;
  }

.container-snack-show {
width: 100%;
}

.snack-show-card {
  overflow: hidden;
  background: white;
  position: relative;
}

.snack-show-card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}


.snack-show-card p {
  font-size: 18px;
  opacity: .7;
  margin: 0;
}


.snack-show-card .snack-show-card-infos {
  padding: 16px;
  // display: flex;
  // justify-content: space-between;
  // align-items: flex-end;
  // position: relative;
}

// .snack-show-card-infos .snack-show-card-user {
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }

.icons {
  display: flex;
  justify-content: space-between;
}

img.snack-show-fixed-heart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  font-weight: lighter;
}







