.snack-index-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}

.snack-index-card  > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.snack-index-card  h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.snack-index-card  p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.snack-index-card .snack-index-card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.snack-index-card-infos  {
  position: absolute;
  right: 16px;
  top: -20px;
  padding-left: 16px;
}

.info {
  padding-left: 12px;
  padding-top: 12px;
  color:$purple;
}

.stars{
  padding-top:10px;
}

img.bobby{
  border-radius:50%;
  width:45px;
  height:45px;
  position:absolute;
  bottom:28px;
  right:10px;
}


