.tag-container {
  display:flex;
}


.tag {
  background-color: $teal; /* Green */
  border-radius: 20px;
  color: white;
  padding-top:2px;
  padding-bottom:10px;
  padding-right:10px;
  margin-right:5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag p {
  color: $purple;
}

