.tag-container {
  display: flex;
  flex-wrap: wrap;
}


.tag {
  width: 11vh;
  height: 6vh;
  background-color: $teal; /* Green */
  border-radius: 20px;
  color: white;
  margin: 4px;
  padding-top:2px;
  padding-bottom:10px;
  padding-right:10px;
  margin-right:5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag p {
  color: $purple;
}


.tag-text {
  margin-bottom: -5px !important;
  margin-left: 10px !important;

}


