.tag-container {
  display:flex;
}

// .tag {

// }



.tag {
  background-color: $teal; /* Green */
  border-radius: 20px;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tag p {
  color: $purple;
}


// @media all and (max-width:30em){
//  a.button1{
//   display:block;
//   margin:0.4em auto;
//  }
// }
