<div class="container">
  <div class="row">
    <h2>My Favs</h2>
    <% @snacks.each do |snack| %>
      <div class="favorite-card mt-2">
        <%= image_tag(snack.snack_images.first.image_path, :alt=> "cake") %>
        <div class="card-product-infos">
          <div class="info-container">
            <h2> <%= link_to snack.name, snack_path(snack) %></h2>
            <%= image_tag "pink-heart.svg", class: "fixed-heart" %>
          </div>
          <p><%= snack.description %></p>
          <br>
          <div class="tags">
            <div class="row">
              <div class="tag">
                <p>tag</p>
              </div>
              <div class="tag">
                <p>tag</p>
              </div>
              <div class="tag">
                <p>tag</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
